<div class="about-page">

  <div class="usage callout">
    <h1>Using Cart Curator</h1>

    <div class="steps">
      <h3>Step 1: Sign Up</h3>
      <p>Set up an account with your email address, and you can begin curating your grocery lists.</p>
      <hr>

      <h3>Step 2: Create Your Lists</h3>
      <p>Craft separate lists for each place you shop at, whether it's a local grocer, farm stand, or bulk store.</p>
      <hr>

      <h3>Step 3: Add Items</h3>
      <p>Click on your grocery list to view and add items. Enter an item name and category selection,
        and optionally save information about quantity to purchase and aisle location.
      </p>
      <hr>

      <h3>Step 4: Cart Curator Categories</h3>
      <p>To be mindful of grocery purchases, we provide a drop-down selection of common grocery item categories.
        Items are first displayed by category so you can visualize your choices - accompanied by a pie chart for a total list overview.
      </p>
      <hr>

      <h3>Step 5: Update Lists Anytime</h3>
      <p>Lists and their items can be edited or deleted anytime on your mobile or desktop browser.
        Too many snacks and not enough veggies? Modify your list before going to the store.
        If an item moves to a new aisle, make sure to revise that as well!
      </p>
      <hr>

      <h3>Step 6: Get Shopping!</h3>
      <p>Once your list has been curated to your liking, use the Shopping View option at the top of your list.
        While you shop, you can check items off as you go! We take all of your items and sort them by aisle
        location to help optimize your trip to the store - so you won't have to run back to aisle 4!
      </p>
    </div>
  </div>

  <div class="soon callout">
    <h1>Coming Soon</h1>

    <h4>We have a lot of amazing features in the works to enhance your experience with Cart Curator. Keep reading to learn more!</h4>

    <div class="features">
      <i class="fa fa-paper-plane fa-2x"></i>
      <h3>Adding Contributors</h3>
      <p>For those who meal plan with a family, significant other, or roommates, we would love for you to be able to share the grocery list together.
        Currently, we are working on allowing you to send an email invitation to others for list access.
      </p>

      <div class="right">
        <h3>Drag-and-Drop</h3>
        <i class="fa fa-arrows-alt fa-2x"></i>
        <p>The Shopping View is designed to make your shopping trip as quick as possible by organizing items by location.
          However, not all grocery stores have the same layout. We want to give you the ability to drag-and-drop the Aisle Tiles to the order that best suits your needs.
        </p>
      </div>

      <i class="fa fa-heartbeat fa-2x"></i>
      <h3>Nutritional Facts</h3>
      <p>Our item Categories do a great job at displaying the types of items you want to buy.
        To take that one step further, we would like to offer nutritional facts for the items you add for a more informed decision.
      </p>

      <div class="right">
        <h3>The Heart of it All</h3>
        <i class="fa fa-home fa-2x"></i>
        <p>The kitchen is the heart of your home. Let Cart Curator help you manage the items coming into your home by keeping track of what is already in your kitchen.
          Avoid duplicate purchases by reviewing what is currently in your kitchen, pantry, or freezer before adding an item to your list.
          After you have finished shopping, all items that were checked off will be added to your Kitchen.
        </p>
      </div>

    </div>
  </div>
</div>
