$beige: #f8f6ec;
$light-red: #ba4945;
$red: #A02524;
$dark-red: #77173B;
$orange: #ED9A46;
$light-yellow: #F8DE98;
$yellow: #FFE049;
$light-green: #7b9235;
$green: #647c1d;
$med-green: #42530e;
$dark-green: #323D12;
$pale-blue: #7190B1;
$blue: #1779BA;
$purple: #6A425D;
$tan: #B1693A;
$brown: #C9886B;
