@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Quicksand|Amatic+SC&display=swap');

.list-show {
  margin: auto;

  h1 {
    font-family: 'Shadows Into Light';
  }

  .callout.show {
    position: sticky;
    top: 10px;
    font-family: 'Quicksand';
    max-width: 650px;
    max-height: 400px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 50px;

    label {
      font-size: 20px;
      font-weight: bold;
    }

    .quantity {
      width: 300px;
      display: inline-grid;
    }

    .measurement {
      width: 300px;
      display: inline-grid;
      float: right;
    }

    input.button {
      background-color: $orange;
      color: black;
      font-size: 24px;
      width: 200px;
      display: block;
      margin: auto;
    }

    input.button:hover {
      font-weight: bold;
    }
  }

  .callout.items {
    max-width: 650px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 10px;

    h1 {
      max-height: 80px;
      max-width: 500px;
      margin: auto;
      font-family: 'Amatic SC';
      text-align: center;
      color: white;
      background-color: #000000;
      opacity: .6;
    }

    ul {
      margin-top: 20px;

      li {
        font-family: 'Quicksand';
        font-size: 20px;

        i {
          float: right;
        }
      }
    }
  }
}
