@import 'colors';

.shopping {
  max-width: 650px;
  display: block;
  margin: auto;

  h3.link {
    max-width: 250px;
    margin: auto;
    color: $green;
    font-size: 30px;
    text-align: center;

    i {
      padding: 10px;
    }
  }

  h3.link:hover {
    cursor: pointer;
  }

  .shopping-items {
    h3 {
      color: black;
      font-size: 30px;
      text-align: left;
      padding-left: 10px;
    }

    p {
      display: inline;
      font-family: 'Quicksand';
      font-size: 20px;
    }

    i {
      display: inline;
      max-width: 30px;
      margin: 10px;
      margin-top: 10px;
      cursor: pointer;
    }

    i.fa-check-square {
      color: $orange;
    }
  }
}
