@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Quicksand|Amatic+SC&display=swap');

.list-show {
  max-width: 95%;
  margin: auto;

  .list-name {
    display: block;
    margin: auto;
    text-align: center;

    h1 {
      display: inline-block;
      margin: auto;
    }

    i {
      color: black;
      padding: 5px;
    }
  }

  .list-toggle {
    max-width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;

    h3 {
      color: $green;
      max-width: 200px;
      font-size: 30px;
      display: inline;
    }

    i {
      color: $green;
      padding: 10px;
      display: inline;

    }

    h3:hover, i:hover {
      cursor: pointer;
    }
  }

  .option-list:active, .option-shopping:active {
    h3, i {
      color: $orange;
    }
  }

  h1, h3 {
    font-family: 'Amatic SC';
    text-align: center;
  }

  h3 {
    color: $green;
    font-weight: bold;

    a:visited {
      color: $green;
    }
  }

  h2 {
    font-family: 'Shadows Into Light';
    text-align: center;
  }

  .callout.show {
    position: sticky;
    top: 10px;
    font-family: 'Quicksand';
    max-width: 650px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 50px;

    h2 {
      font-family: 'Quicksand';
      font-weight: bold;
    }

    p {
      font-style: italic;
      text-align: center;
      margin-bottom: 0px;
    }

    label {
      font-size: 20px;
      font-weight: bold;
    }

    .quantity-measurement {
      display: flex;

      .quantity {
        max-width: 300px;
        display: inline-flex;
        margin: auto;
      }

      .measurement {
        max-width: 300px;
        display: inline-flex;
        margin: auto;
      }
    }


    input.button {
      background-color: $orange;
      border: 1px solid rgba(10, 10, 10, 0.25);
      color: black;
      font-size: 24px;
      width: 200px;
      display: block;
      margin: auto;
    }

    input.button:hover {
      font-weight: bold;
    }

    input.button.update {
      font-style: italic;
    }
  }

  .chart {
    max-width: 640px;
    padding: 0px;
    margin: auto;
    position: sticky;
    top: 500px;

    rect {
      margin: auto;
    }
  }

  .callout.items {
    max-width: 650px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 10px;

    h1 {
      max-height: 80px;
      max-width: 500px;
      margin: auto;
      font-family: 'Amatic SC';
      text-align: center;
      color: $beige;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
    }

    .items {
      display: grid;
      margin-top: 20px;
      margin-left: 0px;
      max-width: 600px;

      p {
        display: inline-flex;
        max-width: 450px;
        font-family: 'Quicksand';
        font-size: 20px;
      }

      i {
        display: inline-flex;
        max-width: 20px;
        margin: 10px;
        float: right;
        cursor: pointer;
      }

      i.fa.fa-caret-right {
        float: left;
        margin-top: 7px;
      }

      i.fa-edit:hover, i.fa-minus-square:hover {
        font-weight: bold;
      }
    }
  }
}
