@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Quicksand|Amatic+SC&display=swap');

.list-show {
  max-width: 95%;
  margin: auto;

  h1, h3 {
    font-family: 'Amatic SC';
  }

  h2 {
    font-family: 'Shadows Into Light';
    text-align: center;
  }

  .callout.show {
    position: sticky;
    top: 10px;
    font-family: 'Quicksand';
    max-width: 650px;
    max-height: 500px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 50px;

    label {
      font-size: 20px;
      font-weight: bold;
    }

    .quantity {
      width: 300px;
      display: inline-grid;
    }

    .measurement {
      width: 300px;
      display: inline-grid;
      float: right;
    }

    input.button {
      background-color: $orange;
      border: 1px solid rgba(10, 10, 10, 0.25);
      color: black;
      font-size: 24px;
      width: 200px;
      display: block;
      margin: auto;
    }

    input.button:hover {
      font-weight: bold;
    }
  }

  .callout.items {
    max-width: 650px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 10px;


    h1 {
      max-height: 80px;
      max-width: 500px;
      margin: auto;
      font-family: 'Amatic SC';
      text-align: center;
      color: white;
      background-color: #000000;
      opacity: .6;
    }

    ul {
      margin-top: 20px;

      p {
        font-family: 'Quicksand';
        font-size: 20px;
        list-style: none;
        display: block;

        i {
          float: right;
          cursor: pointer;
          margin: 10px;
        }

        i.fa.fa-caret-right {
          float: left;
          margin-top: 7px;
        }

        i.fa-edit:hover, i.fa-minus-square:hover {
          font-weight: bold;
        }
      }
    }
  }
}
