@import 'colors';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Quicksand|Amatic+SC&display=swap');


h1 {
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 4rem;
  font-weight: bold;
}

.lists {
  max-width: 95%;
  margin: auto;

  .callout.list {
    font-family: 'Quicksand';
    max-width: 650px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 0px;

    h2 {
      font-family: 'Quicksand';
    }

    h2.edit-list {
      font-weight: bold;
    }

    label {
      font-size: 20px;
      font-weight: bold;
    }

    input.button {
      background-color: $orange;
      border: 1px solid rgba(10, 10, 10, 0.25);
      color: black;
      font-size: 20px;
      width: 200px;
      display: block;
      margin: auto;
    }

    input.button:hover {
      font-weight: bold;
    }

    input.button.update {
      font-style: italic;
    }
  }

  .callout.list.new {
    max-height: 325px;
  }

  .callout.list.user {
    padding-top: 16px;

    h3 {
      display: inline-flex;
      text-align: left;

      a {
        font-family: 'Quicksand';
        font-size: 24px;
      }

      a:link {
        color: $orange;
      }

      a.edit-list {
        font-style: italic;
        color: $green;
      }
    }

    h3.empty-lists {
      text-align: center;
    }

    i {
      display: inline-flex;
      max-width: 50px;
      margin-right: 10px;
    }

    i.fa-edit, i.fa-minus-square {
      padding-top: 10px;
      float: right;
      cursor: pointer;
    }

    i.fa-edit:hover, i.fa-minus-square:hover {
      font-weight: bold;
    }
  }
}
